<!DOCTYPE html>
<html lang="{{@site.lang}}">

<head>
  <title>{{meta_title}}</title>
  {{! Document Settings }}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  {{! Responsive Meta Tags }}
  <!-- own stylesheet for general stuff -->
  <link rel="stylesheet" href="{{asset "css/style.css"}}">
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>

<body>
  <!-- main navigation -->
  {{navigation}}
  <main class="{{body_class}}">
    <div>
      <div class="row">
         {{#is "home,index"}}
          <p><span class="start-mark">{{@site.title}}:~</span> cd index</p>
          <p><span class="start-mark">{{@site.title}}:~</span><span class="folder-color">/index</span> ls -l</p>
        {{/is}}

        {{#is "author"}}
          {{#author}}
          <p><span class="start-mark">{{@site.title}}:~$</span> cd author/{{name}}</p>
          <p><span class="start-mark">{{@site.title}}:~</span><span class="folder-color">/author/{{name}}</span> ls -l</p>
          {{/author}}
        {{/is}}

        {{#is "tag"}}
          {{#tag}}
          <p><span class="start-mark">{{@site.title}}:~$</span> cd tags/{{slug}}</p>
          <p><span class="start-mark">{{@site.title}}:~</span><span class="folder-color">/tags/{{slug}}</span> ls -l</p>
          {{/tag}}
        {{/is}}

        {{{body}}}

      </div>
        <footer class="page-footer">
          {{> 'ui/footer'}}
        </footer>
    </div><!-- container fluid END! -->
  </main>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&display=swap" rel="stylesheet"> 

  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
    })
  </script>
  {{ghost_foot}}
</body>

</html>