{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
  <div class="row h-100 page-row">
  {{#post}}
      <div class="col col-xs-12 col-md-12 col-lg-12 main-content">
        <article>
          <div class="post-head">
                  <p><span class="start-mark">{{@site.title}}:~$</span> cd posts\ {{slug}}\</p>
                  <p><span class="start-mark">{{@site.title}}:~$</span> ls -l</p>
                  <p>-rwx------ {{#primary_author}}{{name}} {{name}}{{/primary_author}} <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time> {{title}}.md</p>
                  <p><span class="start-mark">{{@site.title}}:~$</span> ./scripts/generate-html.sh '{{title}}.md'</p>
                  <h1 class="text-center post-title">{{title}}</h1>
          </div>

         <div class="d-block d-sm-block d-md-block d-lg-block tag_head_wrap">
          {{#if feature_image}}
            <img class="tag_heading text-center" src="{{img_url feature_image}}" title="{{title}}" alt="{{title}}" />
          {{/if}}
          </div>

          <div class="post-content max-content-width">
            {{content}}
          </div>
            {{> 'post/related-posts'}}
        </article>
    </div>
{{/post}}
</div>
