<div class="row">
  {{#get "posts" limit="all"}}
  {{#foreach posts}}
  <div class="card">
    <div class="col">
      <div class="card-block">
            <p>-rwx------ {{#primary_author}}{{name}} {{name}}{{/primary_author}} <time datetime="{{date format="YYYY-MM-DD H:mm"}}">{{date format="DD MMMM YYYY H:mm"}}</time> <a href="{{url}}">{{title}}.md</a></p>
      </div>
    </div>
  </div>
  {{/foreach}}
  {{/get}}
</div>